# Python
.venv/
__pycache__/
*.pyc

# VS Code
.vscode/

# Generated ML models
models/*.pkl
models/*.joblib

# Temporary files
*.log

# OS files
.DS_Store
Thumbs.db

# Generated simulation datasets
data/raw/scenarios/
data/processed/combined-scenarios.csv
data/processed/ml-dataset.csv